.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    inset: auto auto auto auto!important;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}